    <div id="layout">
        <a class="menu-link" href="#menu" id="menuLink">
            <span></span>
        </a>
    </div>
    <div class="menu menu-left">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="">
                My Playlist
            </a>
            <ng-autocomplete advanced-display="albumList.html" class="listing ng-isolate-scope" max-results="15" min-length="3" on-select="clicked" retrieval-method="getFiles"><div class="ac-wrapper ng-scope" style="width:inherit">    <input type="text" style="width:inherit" ng-model="ngModel" ng-blur="onBlur()" ng-focus="onFocus()" class="ng-pristine ng-valid">    <div class="ac-items ng-hide" style="width:inherit; position: absolute; z-index: 1000;" ng-show="focussed">       <!-- ngRepeat: item in items -->    </div></div></ng-autocomplete>
            <ul>
                <!-- ngRepeat: item in playlist -->
            </ul>
        </div>
    </div>
        
    <div class="menu stacked">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="">
                Room Playlist
            </a>
            <ng-autocomplete advanced-display="albumList.html" class="listing ng-isolate-scope" max-results="15" min-length="3" on-select="clicked" retrieval-method="getFiles"><div class="ac-wrapper ng-scope" style="width:inherit">    <input type="text" style="width:inherit" ng-model="ngModel" ng-blur="onBlur()" ng-focus="onFocus()" class="ng-pristine ng-valid">    <div class="ac-items ng-hide" style="width:inherit; position: absolute; z-index: 1000;" ng-show="focussed">       <!-- ngRepeat: item in items -->    </div></div></ng-autocomplete>
            <ul>
                <!-- ngRepeat: item in playlist -->
            </ul>
        </div>
    </div>
        
    <div id="main">
        <div class="content">
            <script id="albumList.html" type="text/ng-template">
          <div><strong>{{item.title}}</strong></div>
          <div>by {{item.artist}}</div>
        </script>
            <div>
                <div></div>
                <div>    <audio controls="">        <source src=""> Your browser does not support the audio element.     </audio>    <div class="ng-binding"> Now playing:  by </div>    <div> Upcoming:       <!-- ngRepeat: item in playlist -->    </div></div>
            </div>
        </div>
    </div>
