    <div id="layout">
        <a class="menu-link" href="#menu" id="menuLink">
            <span></span>
        </a>
    </div>
    <div class="menu menu-left">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="">
                My Playlist
            </a>
            <ng-autocomplete advanced-display="albumList.html" 
                             class="listing" 
                             max-results="15" 
                             min-length="3" 
                             on-select="clicked" 
                             retrieval-method="getFiles">
            </ng-autocomplete>
            <ul>
                <li ng-repeat="item in playlist"><a>{{item.title}} by {{item.artists}}</a></li>
            </ul>
        </div>
    </div>
        
    <div class="menu stacked">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="">
                Room Playlist
            </a>
            <ng-autocomplete advanced-display="albumList.html" 
                             class="listing" 
                             max-results="15" 
                             min-length="3" 
                             on-select="clicked" 
                             retrieval-method="getFiles">
            </ng-autocomplete>
            <ul>
                <li ng-repeat="item in playlist"><a>{{item.Title}} by {{item.Artist}}</a></li>
            </ul>
        </div>
    </div>
        
    <div id="main">
        <div class="content">
            <script id="albumList.html" type="text/ng-template">
          <div><strong>{{item.Title}}</strong></div>
          <div>by {{item.Artist}}</div>
        </script>
            <div>
                <div></div>
                <div>    <audio controls="">        <source src=""> Your browser does not support the audio element.     </audio>    <div class="ng-binding"> Now playing:  by </div>    <div> Upcoming:       <!-- ngRepeat: item in playlist -->    </div></div>
            </div>
        </div>
    </div>
