<div id="layout">
    <a class="menu-link" href="#menu" id="menuLink">
        <span></span>
    </a>
</div>
<div class="menu menu-left">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="">
            My Playlist
        </a>
        <ng-autocomplete advanced-display="albumList.html"
                         class="listing"
                         max-results="15"
                         min-length="3"
                         on-select="clicked"
                         retrieval-method="getFiles">
        </ng-autocomplete>
        <ul>
            <li ng-repeat="item in playlist"><a>{{item.Title}} by {{item.Artist}}</a></li>
        </ul>
    </div>
</div>

<div class="menu stacked">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="">
            Room Playlist
        </a>
        <ng-autocomplete advanced-display="albumList.html"
                         class="listing"
                         max-results="15"
                         min-length="3"
                         on-select="clicked"
                         retrieval-method="getFiles">
        </ng-autocomplete>
        <ul>
            <li ng-repeat="item in playlist"><a>{{item.Title}} by {{item.Artist}}</a></li>
        </ul>
    </div>
</div>

<div id="main">
    <div class="content">
        <div class="dj-list">
            <div class="heading">

                <a>
                    Currently Rockin'
                </a>
            </div>
            <ul>
                <ng-dj ng-repeat="dj in djs"></ng-dj>
            </ul>

        </div>
        <ng-audio></ng-audio>
    </div>
</div>

<script id="dj.html" type="text/ng-template">
    <div>
        <img src="{{dj.avatar}}" />
        <div>{{dj.name}}</div>
    </div>
</script>

<script id="ngAudioTmpl.html" type="text/ng-template">
    <div>
        <div class="control-wrapper">
            <button id="play" ng-click="play()">Play</button>
            <button id="next">Next</button>
            <div class="seek-bar position-wrapper">
                <div class="seek-bar position-bar"></div> 
            </div>{{ current_time }}/{{totalTime}}
        </div>
        <div>
            <audio-player></audio-player>
            <div> Now playing: {{currently_playing.title }} by {{ currently_playing.artist }}</div>
        </div>
    </div>
</script>

<script id="albumList.html" type="text/ng-template">
    <div><strong>{{item.Title}}</strong></div>
    <div>by {{item.Artist}}</div>

</script>