# /
/_UpgradeReport_Files
/Backup
/RSpec
/Tests
/buildArtifacts
/TestResults
SelfService.sln.metaproj
SelfServiceTemp.sln
SelfService.sln.metaproj.tmp
TestResult.xml

/wixmain/generated
/wixmain/resources/installerLicenses/

# NCover Report Data
coverage.xml
CoverageReport

# /Web/
/Domain.Test
/Web.Deploy
/Web.Core/user.config

*.swp
*.suo
**/bin/
**/obj/
**/Obj/
**/Bin/
*.user
*.log
*~
build.require.js
*VisualState.xml
nuget_report.html

*DB_update.sql
local_dbs.yaml

my.config
.capout
**/.sass-cache/
.sass-cache/
.listener
.sasswatch
.sasslog
.rake_t_cache
*_ReSharper*
TestResults/
*.listenout
*.listener
*.sasswatch
*.sasslog

*.orig
my.config

/installers/config files/CurrentSettings.vssettings

/packages/UpgradeDatabase.0.0.1/tools/user.config
/packages/UpgradeDatabase.0.0.3/tools/user.config

# /nuget
*.nupkg
*.nuspec

# sublime env
env/*.sublime-*
