.ac-items {
    background-color: #F6F3F3;
    color: #A3A3A3;
}

.ac-item {
    border-bottom: 1px;
    border-bottom-style: solid;
}

.listing {
    width: 240px;
}

.heading {
    color: #FFF;
    width: 100%;
    background: #1f8dd6;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
}


.dj-list ul {
    list-style-type: none;
    height: 110px;
    padding-left: 0px;
}

    .dj-list ul > li {
        float: left;
        margin-left: 10px;
        text-align: center;
        width: 150px;
        vertical-align: top;
        overflow: hidden;
    }

    .dj-list ul img {
        height: 50px;
        width: 50px;
    }

.seek-bar {
    height: 25px;
}

#audio-player {
    border-color: #1f8dd6;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    max-width: 500px;
    margin: 0 auto;
}

.block {
    display: block;
}

#audio-player #play-pause {
    width: 40px;
    height: 40px;
}

#audio-player #buttons .next {
    background: url("/Fantastica/content/images/jplayer.blue.monday.jpg") -29px -141px no-repeat;
    height: 28px;
    width: 28px;
}

#audio-player #buttons .play {
    background: url("/Fantastica/content/images/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}

#audio-player #buttons .pause {
    background: url("/Fantastica/content/images/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}

#audio-player .position-bar {
    background-color: #1f8dd6;
    float: left;
}

#audio-player #buttons {
    display: block;
    overflow: hidden;
}

    #audio-player #buttons li {
        display: inline;
        float: left;
    }

#audio-player .position-wrapper {
    width: 180px;
    background-color: gray;
    margin: 0 auto;
}
